services:
  db:
    image: postgres:15.2
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: nicolas
      POSTGRES_PASSWORD: senha123
      POSTGRES_DB: rails_devops_lab_development
    ports:
      - "5432:5432"

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/myapp
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://nicolas:senha123@db:5432/rails_devops_lab_development # Ensure this matches your db service

volumes:
  postgres_data: